*{
    box-sizing: border-box; margin: 0; padding: 0;
}
ul,li,ol{list-style: none;}
a {
    text-decoration: none;
  }
  .white-text{
    color: white;
  }
  .red-text{
    color: red;
  }


#wrap{
    width: 1100px; margin: 0 auto;
}
.header_background{
    width: 100%;margin: 0 auto;
    height: 400px;
    background: url(../images/background.jpeg);
    background-position: center;
    background-size: cover;
    filter: brightness(70%);
    z-index: 1;
}
header{
    margin-top: -400px;
    width: 100%;
    height: 400px;
    z-index: 20;
    position: relative;
}

.all-view,.hdd{
    display: none;
}
.header-area{
    box-sizing: border-box; margin: 0; padding: 0;
    width: 100%;height: 400px;
}
.box_inner{
    width: 1100px;height: 100px;
    display: flex;
    position: fixed;
    background-color: rgba(0,0,0,0.11);
    border-bottom: 1px solid rgba(138, 138, 138, 0.87);
    margin-bottom: 30px;
    padding-top: 30px;
    z-index: 100;
}
.navigation{
    font: bold;
    padding-bottom: 20px;
    /* text-align: center; */
}

.box_inner .first_nav{
    width: 85%;
    overflow: hidden;
    height: 21px;
}
.box_inner .first_nav .navigation li{
    display: inline;
    margin:3px;
}
.box_inner .first_nav .navigation li:first-child{
    display: inline;
    margin-left:20px;
}

#num{
    background-color: rgba(207, 0, 0, 0.89);
    border-radius: 100px;
    font-size: 11px;
    padding: 0 8px;
    height: 18px;
    display: inline-block;
    line-height: 19px;
}


  


.box_inner .second_nav{
    width: 15%;
}

.box_inner .second_nav .navigation{
    margin-left: 30px;
}
.box_inner .second_nav .navigation li{
    display: inline;

}




.header-area .section-2{
    width: 100%; height: 300px;
}

.header-area .section-2 #location{
    position: absolute;
    display: flex;
    top: 180px;
    width: 1100px;
   
}

.header-area .section-2 #logo{
    background: url(../images/logo.jpeg);
    width: 100px; height: 100px;
    background-size: cover;
    border-radius: 50%;
    z-index: 2;
}
.header-area .section-2 .text{
    margin-left: 20px;
    margin-top: 10px;
    line-height: 30px;
}
.header-area .section-2 .text p{
    font-size: 14px;
    font: bold;
    color: rgba(255, 255, 255, .8);
    display: inline-block;
}


